<!DOCTYPE html>
<html ng-app="AppBone">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="/javascripts/core.js"></script>
    <script src="/javascripts/controllers/controller.js"></script>
    <script src="/javascripts/services/service.js"></script>
</head>
<body ng-controller="MainController">
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
</body>
</html>
